---
import Datetime from "./Datetime";
const { frontmatter, href } = Astro.props;
---

<li class="my-6">
  <a
    href={href}
    class="inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0"
  >
    <h2 class="text-lg font-medium decoration-dashed hover:underline">
      {frontmatter.title}
    </h2>
  </a>
  <Datetime datetime={frontmatter.pubDatetime} />
  <p set:html={frontmatter.description} />
</li>
