/* Override styles set by Notion Render X */

.notion,
.notion-quote,
.notion-h-title {
  @apply leading-8;
  /* @apply p-0; */
  @apply my-3;
}
.notion-text {
  @apply my-4;
  @apply leading-relaxed;
}

.notion {
  position: relative;
}

.notion-hash-link {
  display: flex;
  align-items: center;
  @apply -ml-8 opacity-0 absolute;
}

.notion-h2:hover .notion-hash-link {
  @apply opacity-100;
}

.notion-code {
  @apply relative;
}

.notion-code-copy {
  @apply absolute bottom-1 right-1 p-2 rounded;
}
.notion-code-copy:hover {
  @apply cursor-pointer bg-slate-600;
}